.box {
    width: 640px;
    height: 360px;
    background-color: pink;
    background-image: url("../images/white.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: red;
  font-size: 50px;
}
